body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
    background-color: #dcdcdc
}

.text-muted{
    color:#BCBBBB;
    font-weight:bold;
}
.text-thin{
    font-weight:100;
}

.title-super{
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}